@model Slider
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/AdminF/Views/Shared/_AdminLayout.cshtml";
}


<h1>@Model.Image</h1>
<h1>@Model.SubTitle</h1>
<h1>@Model.Title</h1>
<p>@Model.Description</p>
<a asp-controller="Slider" asp-action="Index" class="btn btn-dark">Back</a>
<a asp-controller="Slider" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-dark">Delete</a>



